.section-about {
  padding: 8rem 0;
}

.section-experience {
  background: $colour-medium-grey-2;
  padding: 6rem 0;
}

.section-cv {
  padding: 6rem 0;
}

.section-projects {
  // background: $colour-white;
  padding: 10rem 0;
}

.section-contactform {
  background: $colour-medium-grey-2;
  padding: 6rem 0;
}
