.about {
  &__content {
    max-width: 900px;
    padding: 0 5rem;
    margin: auto;
    p {
      font-size: 2rem;
      font-family: $content-font;
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }
  .skills {
    max-width: 600px;
    margin: 2rem auto;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    @include respond(phone) {
      margin: 0 5rem;
    }
    &__images {
      margin: auto;

      img {
        padding: 0.9rem 0;
        margin: 0.45rem;
        width: 7rem;
        filter: grayscale(100%);
        transition: all 0.3s;
        @include respond(phone) {
          width: 4rem;
        }
        &:hover {
          filter: grayscale(0%);
          transform: scale(1.05);
        }
      }
    }
  }
}
