.timeline-item {
  padding: 3rem 2rem 2rem;
  position: relative;
  color: rgba(black, 0.7);
  border-left: 3px solid rgba(black, 0.3);
  max-width: 70rem;
  margin: 0 auto;
  @include respond(phone) {
    border: none;
  }

  .timeline-content {
    margin-left: 2rem;
    padding: 2rem;
    padding-top: 4rem;
    box-shadow: 0 0.1rem 4rem rgba($colour-dark-grey, 0.3);
    border-radius: 4px;
    background: $colour-light-grey;
    @include respond(phone) {
      margin-left: 0;
    }

    .timeline-text {
      .title {
        font-size: 2.8rem;
        font-weight: 400;
      }
      .company {
        font-size: 2.2rem;
        font-weight: 400;
        color: $colour-darkest-grey;
      }
      p {
        font-family: $content-font;
        font-size: 1.5rem;
        line-height: 1.9;
      }
    }

    .timeline-image {
      text-align: center;
      padding: 0.5rem 2rem 4rem 2rem;
      margin-top: 3rem;
      img {
        width: 90%;
        outline-offset: 1rem;
        transition: all 0.3s;
        border-radius: 2px;
        @include respond(phone) {
          width: 100%;
        }

        &:hover {
          outline: 0.5rem solid $colour-secondary-red;
          transform: scale(1.02) translateY(-0.5rem);
        }
      }
    }
  }

  &::before {
    content: attr(date-is);
    display: block;
    font-size: 1.5rem;
    font-family: $content-font;
    font-weight: 300;
    position: absolute;
    left: 6rem;
    top: 4.6rem;
    color: $colour-dark-grey;
    @include respond(phone) {
      left: 4rem;
    }
  }

  &::after {
    position: absolute;
    left: -1.6rem;
    border-radius: 50%;
    content: "";
    border: 3px solid $colour-secondary-blue-dark;
    background: white;
    width: 3rem;
    height: 3rem;
    display: block;
    top: 4.5rem;
    transition: all 0.3s;
    @include respond(phone) {
      display: none;
    }
  }
  &:hover::after {
    border: 10px solid $colour-secondary-blue-dark;
  }

  &:last-child {
    border-image: linear-gradient(
        to bottom,
        $colour-secondary-blue-dark 60%,
        rgba(rgba(black, 0.3), 0)
      )
      1 100%;
  }
}
