.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }
}

.items-single {
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  width: 36rem;
  @include respond(phone) {
    margin-top: 5rem;
    width: 35rem;
  }
  @include respond(tab-port) {
    width: 45rem;
    height: 25rem;
  }
}

.item {
  position: relative;
  background: $colour-secondary;
  overflow: hidden;
  &-single {
    margin-left: 10rem;
  }
  @include respond(phone) {
    margin: auto;
    width: 35rem;
  }
  @include respond(tab-port) {
    margin: auto;
    width: 45rem;
    height: 25rem;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  //Bring in main-colour overlay
  &:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }

  //Scale image on hover
  &:hover &-img {
    transform: scale(1.2);
  }

  //Bring in the text on Hover

  &:hover &-text {
    opacity: 1;
    transform: translateY(0);
  }

  &-img {
    height: 19rem;
    width: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  &-img:before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }
  &-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
  }

  &-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
      transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 450ms;
  }

  &-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &-text-title {
    font-family: $sans-serif-font;
    font-size: 2.2rem;
    padding: 0 1rem;
    margin-top: 5px;
  }

  &-text-category {
    font-family: $content-font;
    text-transform: uppercase;
    font-size: 1.3rem;
    opacity: 0.8;
    margin: 0;
  }
}
