.heading-primary {
  font-size: 4rem;
  font-family: $sans-serif-font;
  text-transform: uppercase;

  &--name {
    display: block;
    font-weight: 400;
    font-size: 4.5rem;
    color: $colour-white;
    letter-spacing: 0.9rem;
  }
  &--sub {
    display: block;
    font-weight: 300;
    font-size: 1.4rem;
    color: $colour-medium-grey;
    letter-spacing: 3px;
  }
  &--description {
    display: block;
    font-weight: 200;
    font-size: 0.8rem;
    color: $colour-light-grey;
    letter-spacing: 5px;
  }
}
