.container {
  margin: auto; /* To push it to the middle */
  max-width: 1100px;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.u-center-text {
  text-align: center !important;
}

.u-underline-text {
  border-bottom: 1px solid $colour-secondary-blue-dark;
}

.u-border-text {
  display: inline-block;
  border-bottom: 1.5px solid $colour-secondary-blue-dark;
  transition: ease-in-out 0.25s;
}

.bottom-line {
  height: 2px;
  width: 6rem;
  background: $colour-secondary-red;
  display: block;
  margin: 0 auto 1rem auto;
}

.btn {
  &,
  &:link,
  &:visited {
    font-size: 1.7rem;
    font-family: $content-font;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3rem;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.2s;
    position: relative;

    //Change for the <button> element
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($colour-black, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba($colour-black, 0.2);
  }

  &--light {
    background-color: transparent;
    color: $colour-white;
    border: 1px solid $colour-white;
  }

  &--secondary-dark {
    background-color: transparent;
    color: $colour-secondary-blue-dark;
    border: 1.5px solid $colour-secondary-blue-dark;
  }

  &--secondary-light {
    background-color: transparent;
    color: $colour-secondary-blue;
    border: 1.5px solid $colour-secondary-blue;
  }

  &--dark {
    padding: 1rem 1.5rem;
    background-color: transparent;
    color: $colour-dark-grey;
    border: 1.5px solid $colour-dark-grey;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-medium2 {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}
