.container {
  margin: auto; /* To push it to the middle */
  max-width: 1100px;
  overflow: hidden;
  padding: 0 20px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.u-center-text {
  text-align: center !important;
}

.u-underline-text {
  border-bottom: 1px solid $colour-secondary-blue-dark;
}

.u-border-text {
  border-bottom: 1.5px solid $colour-secondary-blue-dark;
  border-top: 1.5px solid $colour-secondary-blue-dark;
  transition: ease-in-out 0.25s;
}

.bottom-line {
  height: 2px;
  width: 6rem;
  background: $colour-secondary-red;
  display: block;
  margin: 0 auto 1rem auto;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-medium2 {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}
