//COLOURS
$colour-primary-dark: #0a192f;
$colour-primary-light: #3c5f9b;
$colour-secondary: #67aeca;
$colour-secondary-blue: #67aeca;
$colour-secondary-blue-light: #b6eaff;
$colour-secondary-blue-dark: #1e7597;
$colour-secondary-green: #64ffda;
$colour-secondary-red: #d9514eff;
$colour-light-grey: #f4f4f4;
$colour-medium-grey-2: #dddddd;
$colour-medium-grey: #bdbdbd;
$colour-dark-grey: #777;
$colour-darkest-grey: #575757;
$colour-white-dark: #d3e0ea;
$colour-white: #ffff;
$colour-black: rgb(0, 0, 0);
$jashjadadkad: #80dafd;
$colour-secondary-blue-dark-2: #2ea4d3;
//FONTS
// font-family: 'Fraunces', serif;
// font-family: 'Great Vibes', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Playfair Display', serif;

$sans-serif-font: "Lato", sans-serif;
$content-font: "Montserrat", sans-serif;
$cursive-font: "Great Vibes", cursive;

$colour-black-dark: #202020;
$colour-black-medium: #3f3f3f;
$colour-black-light: #707070;
$colour-test-yellow: #ffdf6c;
$colour-test-ultramarine: #301424;
$colour-test-indigo: #30415d;
