//COLOURS
$colour-primary-dark: #0a192f;
$colour-primary-light: #3c5f9b;
$colour-secondary-red: #d9514eff;
$colour-secondary: #64ffda;
$colour-secondary-green: #64ffda;
$colour-light-grey: #f4f4f4;
$colour-medium-grey: #bdbdbd;
$colour-dark-grey: #777;
$colour-darkest-grey: #575757;
$colour-white-dark: #d3e0ea;
$colour-white: #fff;
$colour-black: #000;

//FONTS
// font-family: 'Fraunces', serif;
// font-family: 'Great Vibes', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Playfair Display', serif;

$sans-serif-font: "Lato", sans-serif;
$content-font: "Roboto Slab", serif;
$cursive-font: "Great Vibes", cursive;
